:root {
    --cellSize : 30px;
    margin: 0px;
    border: 0px;
}
#gameMap {
    align-items: flex-start;
    align-content: initial;
}
#row {
    display: flex;
    flex-direction: row;
}

#block {
    display: flex;
    background-color: blue;
    height: 30px;
    width: 30px;
    border: 1px solid black;
}


#block.wall {
    background-color: gray;
}

#block.empty {
    background-color: white;
}

#block.player {
    background-color: green;
}

#block.finish {
    background-color: gold;
}